@media (min-width: 740px) and (max-width: 1239px){
    .product-item-often{
        margin-top: 10px;
    }
    .product-item-offset-tag-discount{
        width: 65%;
        top:45%;
    }
}

@media (max-width:739px){
    .product-item-often{
        margin-top: 15px;
    }
    .product-header-navbar{
        display: none;
    }
}