.footer-page{


}

.footer-page-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-page-item{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.footer-detail{

}
.footer-detail-policy{
    padding: 0;
    list-style-type: none;

}

.footer-policy-item{

}

.footer-policy-item-link{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color);
}